USE [master]
GO
/****** Object:  Database [GestEntCom]    Script Date: 26/03/2020 14:08:36 ******/
CREATE DATABASE [GestEntCom]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GestEntCom', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQL_ITS4\MSSQL\DATA\GestEntCom.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GestEntCom_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQL_ITS4\MSSQL\DATA\GestEntCom_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestEntCom].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestEntCom]
GO
/****** Object:  Table [dbo].[acl_client]    Script Date: 26/03/2020 14:08:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acl_client](
	[idacl_client] [bigint] NOT NULL,
	[idacl_pays] [bigint] NOT NULL,
	[prenom] [varchar](50) NULL,
	[nom] [varchar](30) NULL,
	[telephone] [varchar](30) NULL,
	[adresse] [text] NULL,
	[id_user] [bigint] NULL,
	[date_creation] [datetime] NULL,
	[date_last_modif] [datetime] NULL,
	[est_supprime] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[idacl_client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[acl_commande]    Script Date: 26/03/2020 14:08:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acl_commande](
	[idacl_commande] [bigint] NOT NULL,
	[idacl_typec] [bigint] NOT NULL,
	[idacl_client] [bigint] NOT NULL,
	[date_commande] [varchar](12) NULL,
	[nbr_camions] [bigint] NULL,
	[volume_unitaire] [decimal](10, 2) NULL,
	[volume_tot] [decimal](10, 2) NULL,
	[prix_unitaire] [decimal](20, 2) NULL,
	[prix_tot] [decimal](20, 2) NULL,
	[paye_comptant] [varchar](3) NULL,
	[accuse_commande] [varchar](20) NULL,
	[id_user] [bigint] NULL,
	[est_supprime] [bigint] NULL,
	[date_creation] [datetime] NULL,
	[date_last_modif] [datetime] NULL,
	[num_commande] [varchar](20) NULL,
	[id_conversion] [bigint] NULL,
	[id_monnaie1] [bigint] NULL,
	[id_monnaie2] [bigint] NULL,
	[taux_1] [decimal](10, 2) NULL,
	[taux_2] [decimal](10, 2) NULL,
	[validation] [bigint] NULL,
	[id_user_validation] [bigint] NULL,
	[num_cmd_jour] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[idacl_commande] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[acl_conversion]    Script Date: 26/03/2020 14:08:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acl_conversion](
	[idacl_conversion] [bigint] NOT NULL,
	[idmonnaie_1] [bigint] NULL,
	[taux_1] [decimal](10, 2) NULL,
	[idmonnaie_2] [bigint] NULL,
	[taux_2] [decimal](10, 2) NULL,
	[id_user] [bigint] NULL,
	[date_creation] [datetime] NULL,
	[date_last_modif] [datetime] NULL,
	[est_supprime] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[idacl_conversion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[acl_livraison]    Script Date: 26/03/2020 14:08:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acl_livraison](
	[idacl_livraison] [bigint] NOT NULL,
	[idacl_typec] [bigint] NOT NULL,
	[idacl_client] [bigint] NOT NULL,
	[idacl_monnaie] [bigint] NOT NULL,
	[idacl_personnel] [bigint] NOT NULL,
	[idacl_vehicule] [bigint] NOT NULL,
	[volume] [decimal](10, 2) NULL,
	[nbr_camions] [bigint] NULL,
	[prix_m3] [decimal](18, 2) NULL,
	[quantite] [decimal](10, 2) NULL,
	[destination] [varchar](150) NULL,
	[num_livraison] [varchar](20) NULL,
	[id_conversion] [bigint] NULL,
	[taux_1] [decimal](10, 2) NULL,
	[taux_2] [decimal](10, 2) NULL,
	[id_user] [bigint] NULL,
	[est_supprime] [bigint] NULL,
	[date_creation] [datetime] NULL,
	[date_last_modif] [datetime] NULL,
	[validation] [bigint] NULL,
	[id_user_validation] [bigint] NULL,
	[date_livrai] [varchar](12) NULL,
	[accuse_commande] [varchar](30) NULL,
	[num_liv_jour] [bigint] NULL,
	[tot_liv_prix_cfa] [float] NULL,
	[tot_liv_prix_dalaxy] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[idacl_livraison] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[acl_monnaie]    Script Date: 26/03/2020 14:08:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acl_monnaie](
	[idacl_monnaie] [bigint] NOT NULL,
	[monnaie] [varchar](20) NULL,
	[id_user] [bigint] NULL,
	[date_creation] [datetime] NULL,
	[date_last_modif] [datetime] NULL,
	[est_supprime] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[idacl_monnaie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[acl_pays]    Script Date: 26/03/2020 14:08:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acl_pays](
	[idacl_pays] [bigint] NOT NULL,
	[pays] [varchar](45) NULL,
	[date_creation] [datetime] NULL,
	[date_last_modif] [datetime] NULL,
	[id_user] [bigint] NULL,
	[est_supprime] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[idacl_pays] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[acl_personnel]    Script Date: 26/03/2020 14:08:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acl_personnel](
	[idacl_personnel] [bigint] NOT NULL,
	[idacl_typepersonnel] [bigint] NOT NULL,
	[prenom] [varchar](50) NULL,
	[nom] [varchar](30) NULL,
	[telephone] [varchar](30) NULL,
	[num_cni] [varchar](15) NULL,
	[adresse] [text] NULL,
	[id_user] [bigint] NULL,
	[date_creation] [datetime] NULL,
	[date_last_modif] [datetime] NULL,
	[est_supprime] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[idacl_personnel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[acl_typecarriere]    Script Date: 26/03/2020 14:08:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acl_typecarriere](
	[idacl_typec] [bigint] NOT NULL,
	[type_carriere] [varchar](50) NULL,
	[id_user] [bigint] NULL,
	[date_creation] [datetime] NULL,
	[date_last_modif] [datetime] NULL,
	[est_supprime] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[idacl_typec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[acl_typepersonnel]    Script Date: 26/03/2020 14:08:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acl_typepersonnel](
	[idacl_typepersonnel] [bigint] NOT NULL,
	[type_personnel] [varchar](45) NULL,
	[id_user] [bigint] NULL,
	[est_supprime] [bigint] NULL,
	[date_creation] [datetime] NULL,
	[date_last_modif] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idacl_typepersonnel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[acl_vehicule]    Script Date: 26/03/2020 14:08:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acl_vehicule](
	[idacl_vehicule] [bigint] NOT NULL,
	[matricule] [varchar](15) NULL,
	[id_user] [bigint] NULL,
	[date_creation] [datetime] NULL,
	[date_last_modif] [datetime] NULL,
	[est_supprime] [bigint] NULL,
	[volumetrie] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idacl_vehicule] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[acl_versement]    Script Date: 26/03/2020 14:08:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acl_versement](
	[idacl_versement] [bigint] NOT NULL,
	[idacl_client] [bigint] NOT NULL,
	[date_versement] [varchar](12) NULL,
	[montant] [decimal](20, 2) NULL,
	[num_cheque] [varchar](20) NULL,
	[type_versement] [varchar](20) NULL,
	[id_user] [bigint] NULL,
	[est_supprime] [bigint] NULL,
	[date_creation] [datetime] NULL,
	[date_last_modif] [datetime] NULL,
	[id_conversion] [bigint] NULL,
	[id_monnaie1] [bigint] NULL,
	[id_monnaie2] [bigint] NULL,
	[taux_1] [decimal](10, 2) NULL,
	[taux_2] [decimal](10, 2) NULL,
	[validation] [bigint] NULL,
	[id_user_validation] [bigint] NULL,
	[tot_prix_v_cfa] [float] NULL,
	[tot_prix_v_dalaxy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idacl_versement] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[acl_client] ([idacl_client], [idacl_pays], [prenom], [nom], [telephone], [adresse], [id_user], [date_creation], [date_last_modif], [est_supprime]) VALUES (4, 2, N'Hamadou', N'SOULEYMANE', N'17128_000', N'DAROU ...', 3, CAST(N'2019-11-29T01:00:33.000' AS DateTime), NULL, NULL)
INSERT [dbo].[acl_client] ([idacl_client], [idacl_pays], [prenom], [nom], [telephone], [adresse], [id_user], [date_creation], [date_last_modif], [est_supprime]) VALUES (5, 2, N'Matinou', N'DABOUDA', N'16110_000', N'DAROU ...', 3, CAST(N'2019-11-29T01:01:31.000' AS DateTime), NULL, NULL)
INSERT [dbo].[acl_client] ([idacl_client], [idacl_pays], [prenom], [nom], [telephone], [adresse], [id_user], [date_creation], [date_last_modif], [est_supprime]) VALUES (6, 2, N'Ismaïla', N'DIALLO', N'17112_000', N'KEUR C...', NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[acl_conversion] ([idacl_conversion], [idmonnaie_1], [taux_1], [idmonnaie_2], [taux_2], [id_user], [date_creation], [date_last_modif], [est_supprime]) VALUES (1, 2, CAST(420.00 AS Decimal(10, 2)), 1, CAST(5000.00 AS Decimal(10, 2)), 1, CAST(N'2019-11-27T16:14:22.000' AS DateTime), NULL, NULL)
INSERT [dbo].[acl_conversion] ([idacl_conversion], [idmonnaie_1], [taux_1], [idmonnaie_2], [taux_2], [id_user], [date_creation], [date_last_modif], [est_supprime]) VALUES (2, 2, CAST(400.00 AS Decimal(10, 2)), 1, CAST(5000.00 AS Decimal(10, 2)), 1, CAST(N'2019-11-27T16:14:33.000' AS DateTime), NULL, NULL)
INSERT [dbo].[acl_conversion] ([idacl_conversion], [idmonnaie_1], [taux_1], [idmonnaie_2], [taux_2], [id_user], [date_creation], [date_last_modif], [est_supprime]) VALUES (3, 2, CAST(425.00 AS Decimal(10, 2)), 1, CAST(5000.00 AS Decimal(10, 2)), 3, CAST(N'2019-11-29T00:56:34.000' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[acl_monnaie] ([idacl_monnaie], [monnaie], [id_user], [date_creation], [date_last_modif], [est_supprime]) VALUES (1, N'CFA', 1, CAST(N'2019-11-27T16:02:36.000' AS DateTime), NULL, NULL)
INSERT [dbo].[acl_monnaie] ([idacl_monnaie], [monnaie], [id_user], [date_creation], [date_last_modif], [est_supprime]) VALUES (2, N'DALASY', 1, CAST(N'2019-11-27T16:02:43.000' AS DateTime), NULL, NULL)
INSERT [dbo].[acl_pays] ([idacl_pays], [pays], [date_creation], [date_last_modif], [id_user], [est_supprime]) VALUES (1, N'Sénégal', CAST(N'2019-11-27T15:49:38.000' AS DateTime), NULL, 1, NULL)
INSERT [dbo].[acl_pays] ([idacl_pays], [pays], [date_creation], [date_last_modif], [id_user], [est_supprime]) VALUES (2, N'Gambie', CAST(N'2019-11-27T15:49:46.000' AS DateTime), NULL, 1, NULL)
INSERT [dbo].[acl_personnel] ([idacl_personnel], [idacl_typepersonnel], [prenom], [nom], [telephone], [num_cni], [adresse], [id_user], [date_creation], [date_last_modif], [est_supprime]) VALUES (2, 2, N'Aldo Jean-Jacques', N'AFFENOU', N'', N'17105', N'', 1, CAST(N'2019-11-27T23:09:57.000' AS DateTime), NULL, NULL)
INSERT [dbo].[acl_personnel] ([idacl_personnel], [idacl_typepersonnel], [prenom], [nom], [telephone], [num_cni], [adresse], [id_user], [date_creation], [date_last_modif], [est_supprime]) VALUES (3, 2, N'Caleb Carloss', N'AGUIDA', N'', N'17106', N'', 1, CAST(N'2019-11-27T23:10:11.000' AS DateTime), NULL, NULL)
INSERT [dbo].[acl_personnel] ([idacl_personnel], [idacl_typepersonnel], [prenom], [nom], [telephone], [num_cni], [adresse], [id_user], [date_creation], [date_last_modif], [est_supprime]) VALUES (4, 4, N'Kodjo', N'AKLOBESSI', N'', N'17107', N'', 1, CAST(N'2019-11-27T23:10:27.000' AS DateTime), NULL, NULL)
INSERT [dbo].[acl_typecarriere] ([idacl_typec], [type_carriere], [id_user], [date_creation], [date_last_modif], [est_supprime]) VALUES (1, N'Sable', 1, CAST(N'2019-11-27T22:46:40.000' AS DateTime), NULL, NULL)
INSERT [dbo].[acl_typecarriere] ([idacl_typec], [type_carriere], [id_user], [date_creation], [date_last_modif], [est_supprime]) VALUES (2, N'Beton noir', 1, CAST(N'2019-11-27T22:46:49.000' AS DateTime), NULL, NULL)
INSERT [dbo].[acl_typecarriere] ([idacl_typec], [type_carriere], [id_user], [date_creation], [date_last_modif], [est_supprime]) VALUES (3, N'Betoir blanc', 1, CAST(N'2019-11-27T22:46:59.000' AS DateTime), NULL, NULL)
INSERT [dbo].[acl_typepersonnel] ([idacl_typepersonnel], [type_personnel], [id_user], [est_supprime], [date_creation], [date_last_modif]) VALUES (1, N'Chauffeur', 1, NULL, CAST(N'2019-11-27T22:39:35.000' AS DateTime), NULL)
INSERT [dbo].[acl_typepersonnel] ([idacl_typepersonnel], [type_personnel], [id_user], [est_supprime], [date_creation], [date_last_modif]) VALUES (2, N'Opérateur', 1, NULL, CAST(N'2019-11-27T22:39:59.000' AS DateTime), CAST(N'2019-11-27T22:40:57.000' AS DateTime))
INSERT [dbo].[acl_typepersonnel] ([idacl_typepersonnel], [type_personnel], [id_user], [est_supprime], [date_creation], [date_last_modif]) VALUES (3, N'Responsable de livraison', 1, NULL, CAST(N'2019-11-27T22:40:12.000' AS DateTime), NULL)
INSERT [dbo].[acl_vehicule] ([idacl_vehicule], [matricule], [id_user], [date_creation], [date_last_modif], [est_supprime], [volumetrie]) VALUES (2, N'BJL9XY1R', 3, CAST(N'2019-11-29T00:54:28.000' AS DateTime), NULL, NULL, CAST(12.00 AS Decimal(10, 2)))
INSERT [dbo].[acl_vehicule] ([idacl_vehicule], [matricule], [id_user], [date_creation], [date_last_modif], [est_supprime], [volumetrie]) VALUES (3, N'BJL8YZ2R', 3, CAST(N'2019-11-29T00:54:56.000' AS DateTime), NULL, NULL, CAST(12.00 AS Decimal(10, 2)))
INSERT [dbo].[acl_vehicule] ([idacl_vehicule], [matricule], [id_user], [date_creation], [date_last_modif], [est_supprime], [volumetrie]) VALUES (4, N'BJL9FZ6R', 3, CAST(N'2019-11-29T00:55:18.000' AS DateTime), NULL, NULL, CAST(12.00 AS Decimal(10, 2)))
/****** Object:  Index [IFK_Rel_13]    Script Date: 26/03/2020 14:08:37 ******/
CREATE NONCLUSTERED INDEX [IFK_Rel_13] ON [dbo].[acl_client]
(
	[idacl_pays] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IFK_Rel_10]    Script Date: 26/03/2020 14:08:37 ******/
CREATE NONCLUSTERED INDEX [IFK_Rel_10] ON [dbo].[acl_commande]
(
	[idacl_typec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IFK_Rel_21]    Script Date: 26/03/2020 14:08:37 ******/
CREATE NONCLUSTERED INDEX [IFK_Rel_21] ON [dbo].[acl_commande]
(
	[idacl_client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IFK_Rel_09]    Script Date: 26/03/2020 14:08:37 ******/
CREATE NONCLUSTERED INDEX [IFK_Rel_09] ON [dbo].[acl_livraison]
(
	[idacl_typec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IFK_Rel_14]    Script Date: 26/03/2020 14:08:37 ******/
CREATE NONCLUSTERED INDEX [IFK_Rel_14] ON [dbo].[acl_livraison]
(
	[idacl_vehicule] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IFK_Rel_15]    Script Date: 26/03/2020 14:08:37 ******/
CREATE NONCLUSTERED INDEX [IFK_Rel_15] ON [dbo].[acl_livraison]
(
	[idacl_personnel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IFK_Rel_17]    Script Date: 26/03/2020 14:08:37 ******/
CREATE NONCLUSTERED INDEX [IFK_Rel_17] ON [dbo].[acl_livraison]
(
	[idacl_monnaie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IFK_Rel_19]    Script Date: 26/03/2020 14:08:37 ******/
CREATE NONCLUSTERED INDEX [IFK_Rel_19] ON [dbo].[acl_livraison]
(
	[idacl_client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IFK_Rel_16]    Script Date: 26/03/2020 14:08:37 ******/
CREATE NONCLUSTERED INDEX [IFK_Rel_16] ON [dbo].[acl_personnel]
(
	[idacl_typepersonnel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IFK_Rel_20]    Script Date: 26/03/2020 14:08:37 ******/
CREATE NONCLUSTERED INDEX [IFK_Rel_20] ON [dbo].[acl_versement]
(
	[idacl_client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[acl_client]  WITH CHECK ADD FOREIGN KEY([idacl_pays])
REFERENCES [dbo].[acl_pays] ([idacl_pays])
GO
ALTER TABLE [dbo].[acl_commande]  WITH CHECK ADD FOREIGN KEY([idacl_client])
REFERENCES [dbo].[acl_client] ([idacl_client])
GO
ALTER TABLE [dbo].[acl_commande]  WITH CHECK ADD FOREIGN KEY([idacl_typec])
REFERENCES [dbo].[acl_typecarriere] ([idacl_typec])
GO
ALTER TABLE [dbo].[acl_livraison]  WITH CHECK ADD FOREIGN KEY([idacl_vehicule])
REFERENCES [dbo].[acl_vehicule] ([idacl_vehicule])
GO
ALTER TABLE [dbo].[acl_livraison]  WITH CHECK ADD FOREIGN KEY([idacl_personnel])
REFERENCES [dbo].[acl_personnel] ([idacl_personnel])
GO
ALTER TABLE [dbo].[acl_livraison]  WITH CHECK ADD FOREIGN KEY([idacl_monnaie])
REFERENCES [dbo].[acl_monnaie] ([idacl_monnaie])
GO
ALTER TABLE [dbo].[acl_livraison]  WITH CHECK ADD FOREIGN KEY([idacl_client])
REFERENCES [dbo].[acl_client] ([idacl_client])
GO
ALTER TABLE [dbo].[acl_livraison]  WITH CHECK ADD FOREIGN KEY([idacl_typec])
REFERENCES [dbo].[acl_typecarriere] ([idacl_typec])
GO
ALTER TABLE [dbo].[acl_personnel]  WITH CHECK ADD FOREIGN KEY([idacl_typepersonnel])
REFERENCES [dbo].[acl_typepersonnel] ([idacl_typepersonnel])
GO
ALTER TABLE [dbo].[acl_versement]  WITH CHECK ADD FOREIGN KEY([idacl_client])
REFERENCES [dbo].[acl_client] ([idacl_client])
GO
USE [master]
GO
